<!--The content below is only a placeholder and can be replaced.-->
<!--Double navigation-->
<header>

  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="elegant-color" [fixed]="true">

    <mdb-navbar-brand>
      <li>
        <div class="logo-wrapper waves-light">
          <p class="h4 py-3 pl-5">EXAMPLES</p>

        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>

      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">
            <mdb-accordion-item class="no-collase" routerLink="/inception">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i>Pre-trained Model - Inception V3</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase" routerLink="/transferlearning">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i>Transfer Learning Model</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase" routerLink="/cifar10">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i>Trained Model - CIFAR 10</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase" routerLink="/cifar100">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i>Trained Model - CIFAR 100</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <!-- <mdb-accordion-item class="no-collase" routerLink="/vgg16">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> VGG 16</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item class="no-collase" routerLink="/vgg19">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> VGG 19</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item class="no-collase" routerLink="/resNet">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> ResNet</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item class="no-collase" routerLink="/inception">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> Inception V3</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item class="no-collase" routerLink="/denseNet121">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> Dense Net 121</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item class="no-collase" routerLink="/denseNet169">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> Dense Net 169</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>-->
          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav white"
    [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse hidden-nav-button-collapse">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class="breadcrumbs breadcrumbs-hidden-nav breadcrumb-dn mr-auto" style="width:280px">
        <p class="h4">MACHINE LEARNING</p>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>
    <navlinks class="ml-5">

      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
        <a href="https://github.com/gowthamkumardoit/ImageProcessing" target="_blank" type="button" class="btn-floating my-1 btn-git waves-effect waves-light" mdbTooltip="view in Github" placement="bottom"><i class="fa fa-github"></i></a>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/allModels">
            <button mdbBtn type="button" color="elegant" class="waves-light" size="sm" mdbWavesEffect>All Models</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">
            <button mdbBtn type="button" color="elegant" class="waves-light" outline="true" size="sm" mdbWavesEffect><i
                class="fa fa-home mr-1"></i>HOME</button>
          </a>
        </li>
      </ul>
    </navlinks>

  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
<!--/Main layout-->
