<!-- Timeline -->
<div class="row mt-5">
  <div class="col-md-12 animated fadeIn">

    <!-- Timeline Wrapper -->
    <ul class="stepper stepper-vertical timeline pl-0">

      <li>
        <!--Section Title -->
        <a href="#!">
          <span class="circle primary-color z-depth-1-half"><i class="fa fa-car" aria-hidden="true"></i></span>
        </a>

        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-4">
          <h4 class="font-weight-bold">VGG 16 Model</h4>
          <p class="mt-3 mb-0">VGG16 model, with weights pre-trained on ImageNet. This model can be built both with
            'channels_first' data format (channels, height, width) or 'channels_last' data format (height, width,
            channels).
          </p>
          <p class="mt-3 mb-0"> The default input size for this model is 224x224.</p>
        </div>
      </li>
      <li class="timeline-inverted">
        <!--Section Title -->
        <a href="#!">
          <span class="circle warning-color z-depth-1-half"><i class="fa fa-ship" aria-hidden="true"></i></span>
        </a>

        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-4">
          <h4 class="font-weight-bold">VGG 19 Model</h4>
          <p class="mt-3 mb-0">VGG19 model, with weights pre-trained on ImageNet. This model can be built both with
            'channels_first' data format (channels, height, width) or 'channels_last' data format (height, width,
            channels).
          </p>
          <p class="mt-3 mb-0"> The default input size for this model is 224x224.</p>
        </div>
      </li>
      <li>
        <!--Section Title -->
        <a href="#!">
          <span class="circle danger-color z-depth-1-half"><i class="fa fa-train" aria-hidden="true"></i></span>
        </a>

        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-4">
          <h4 class="font-weight-bold">Sed ut nihil unde omnis</h4>
          <p class="mt-4 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
            velit, sed quia non numquam eius modi </p>
        </div>
      </li>
      <li class="timeline-inverted">
        <!--Section Title -->
        <a href="#!">
          <span class="circle info-color z-depth-1-half"><i class="fa fa-plane" aria-hidden="true"></i></span>
        </a>

        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-4">
          <h4 class="font-weight-bold"> Quis autem vel eum voluptate</h4>
          <p class="mt-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupt.</p>

        </div>
      </li>
      <li>
        <!--Section Title -->
        <a href="#!">
          <span class="circle success-color z-depth-1-half"><i class="fa fa-rocket" aria-hidden="true"></i></span>
        </a>

        <!-- Section Description -->
        <div class="step-content z-depth-1 ml-xl-0 p-4">
          <h4 class="font-weight-bold">Mussum ipsum cacilds</h4>
          <p class="mt-4 mb-0">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
            id quod maxime placeat facere possimus.</p>
        </div>
      </li>
    </ul>
    <!-- Timeline Wrapper -->

  </div>
</div>
<!-- Timeline -->